.search-results {
  list-style-type: none;
  padding: 0;
}

.search-item {
  margin-bottom: 10px;
}

.pokemon-sprite {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  box-shadow: 1px 1px 5px 0 #cfcfcf;
  cursor: pointer;
}